<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>クソＢＯＴメーカーＷＥＢ版</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	rel="stylesheet" />
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet" />
<link href="../static/css/bootstrap-social.css"
	th:href="@{/css/bootstrap-social.css}" rel="stylesheet" />
<style type="text/css">
a {
	text-decoration: underline;
}

img.icon {
	width: 128px;
	height: 128px;
	object-fit: cover;
}
</style>
</head>
<body>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
		type="text/javascript"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
		type="text/javascript"></script>
	<div class="container">
		<div class="jumbotron">
			<div>
				<h2>
					<a th:href="@{/BotOAuth}">クソＢＯＴメーカー</a>
				</h2>
			</div>

			<div class="row list-group-item">
					<div class="form-inline">
						<form class="form-group-sm" th:action="@{dialogue/select}" th:object="${songIdForm}" method="post" th:if="${songsCombo.size()}">
							<select class="form-control " th:field="*{songID}">
								<option th:each="song : ${songsCombo}" th:text="${song.songTitle}" th:value="${song.songID}"></option>
							</select>
							<button type="submit" class="btn btn-twitter">
								編集
							</button>
						</form>
						<form class="form-group-sm" th:action="@{dialogue/new}" th:object="${songIdForm}" method="post">
							<input type="hidden" th:field="*{songID}"/>
							<input class="form-control"  type="text" th:field="*{songTitle}"/>
							<button type="submit" class="btn btn-twitter">
								新規
							</button>
						</form>
					</div>
				</div>

			<div>
				作った人：<a href="https://twitter.com/Chupacabras_MON">悶絶チュパカブラ
				<span class="fa fa-twitter fa-spin"></span></a>
			</div>
		</div>
	</div>
</body>

</html>